<div class="head-wrap">
    <div class="head clearfix">
        <a href="javascript:;" title="小黑网" class="logo"></a>
        <ul class="nav clearfix">
            <li><a href="javscript:;">糗事百科</a></li>
        </ul>
    </div>
</div>
<div class="tip-wrap clearfix">
    <p class="tip-label">最新消息：</p>
    <p class="tip">→_→ 段子网收录新鲜段子、幽默笑话、段子来了和福利图片。段子网是一个分享段子、闲聊扯淡、幽默笑话的主题站。↖(▔＾▔)↗</p>
</div>