
    <div class="page clearfix">
        <div class="prev action">＜</div>
        <div class="page-list">
            <ul class="clearfix" id="page">
            </ul>
        </div>
        <div class="next action">＞</div>
        <div class="gopage">跳转到
            <input type="text" class="page-input" />页
            <input type="button" class="page-btn" value="确定" />
            <span class="page-err hide">只能为数字</span>
        </div>
    </div>

