@charset "utf-8";
/*重置浏览器样式属性*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font: 14px/1.5 "Microsoft YaHei";
  color: #666;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li,
ol,
dl,
dt,
dd {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
/* 清除浮动 */
.clear {
  clear: both;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
/**清除行内块元素的影响 **/
.dibwrap {
  font-size: 0;
  /* 所有浏览器 */
  *word-spacing: -1px;
  /* IE6、7 */
}
.dibwrap .dib {
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
/****** 公共样式 ********/
.box-shadow {
  box-shadow: 2px 2px 5px #ccc;
}
.hide {
  display: none;
}
body {
  background: #eeeeee;
}
.head-wrap {
  background: #4a4a4a;
  height: 50px;
}
.head-wrap .head {
  width: 970px;
  margin: 0 auto;
}
.head-wrap .head .logo {
  float: left;
  display: block;
  width: 120px;
  height: 50px;
  background: url("../images/logo.jpg");
}
.head-wrap .head .nav {
  float: left;
}
.head-wrap .head .nav li {
  float: left;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 16px;
}
.head-wrap .head .nav li:hover {
  background: #404040;
}
.head-wrap .head .nav li a {
  display: block;
  color: #eeeeee;
}
.tip-wrap {
  box-shadow: 2px 2px 5px #ccc;
  width: 950px;
  margin: 10px auto;
  background: #fff;
  padding: 5px 10px;
  font-size: 12px;
}
.tip-wrap .tip-label {
  float: left;
  font-weight: bold;
  margin-right: 5px;
  color: #56af45;
}
.tip-wrap .tip {
  float: left;
}
.main {
  width: 970px;
  margin: 15px auto;
}
.content {
  float: left;
  box-shadow: 2px 2px 5px #ccc;
  background: #fff;
  width: 600px;
  padding: 20px;
  margin-right: 30px;
}
.content .loading {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background: url("../images/loading.gif") no-repeat 0 0;
  display: none;
}
.content .article-ul li {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
}
.content .article-ul li .info .portrait {
  float: left;
  width: 35px;
  height: 35px;
  background: url("../images/portrait.jpg") no-repeat 0 0;
  margin-right: 10px;
  border-radius: 50%;
}
.content .article-ul li .info .author {
  float: left;
  height: 35px;
  line-height: 35px;
}
.content .article-ul li .article {
  margin-top: 10px;
}
.content .article-ul li .article img {
  display: block;
  max-width: 50%;
  height: auto;
}
.content .article-ul li .other .time {
  font-size: 13px;
  margin: 10px;
  background: url("../images/time.jpg") no-repeat 0 1px;
  text-indent: 20px;
}
.slide {
  float: left;
  box-shadow: 2px 2px 5px #ccc;
  background: #fff;
  width: 280px;
  padding: 20px 10px;
}
.slide .slide-content {
  width: 280px;
  height: 350px;
  background: url("../images/slide.jpg") no-repeat 0 0;
}
.page div,
.page .page-list li {
  float: left;
  height: 26px;
  line-height: 26px;
  color: #666;
  font-weight: bold;
}
.page .prev,
.page .next,
.page .page-list li {
  border: 1px solid #DAE2ED;
  border-radius: 2px;
  text-align: center;
  padding: 0 8px;
  margin-right: 5px;
  cursor: pointer;
}
.page .prev:hover,
.page .next:hover,
.page .page-list li:hover {
  color: #E2B11B;
}
.page .prev,
.page .next {
  font-size: 18px;
  padding: 0 5px;
}
.page .prev.off,
.page .next.off {
  border: 1px solid #CCCCCC;
  background: #ECEDEF;
  color: #CCCCCC;
}
.page .page-list li.on {
  color: #E2B11B;
}
.page .page-list li.dots {
  border: none;
}
.page .gopage {
  margin-left: 10px;
  font-weight: normal;
}
.page .gopage .page-input {
  width: 35px;
  height: 20px;
  border: 1px solid #DAE2ED;
  margin: 0 5px;
}
.page .gopage .page-btn {
  border: 1px solid #DAE2ED;
  font-family: '微软雅黑';
  line-height: 25px;
  height: 25px;
  font-size: 12px;
  padding: 0 5px;
  cursor: pointer;
  margin-left: 10px;
  background: inherit;
}
.page .gopage .page-btn:hover {
  color: #E2B11B;
}
.page .page-err {
  color: #C63535;
}
.watefull img {
  width: 100%;
  height: auto;
}
.watefull .watefull-list {
  margin-right: -16px;
}
.watefull .watefull-list li {
  width: 230px;
  float: left;
  margin-right: 16px;
}
.watefull .pic-box {
  padding: 10px 10px 10px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px rgba(34, 25, 25, 0.4);
}
